@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Pacifico&display=swap');
@import url('./main-block/header.css');
@import url('./main-block/footer.css');

$red: #A52424;
$black: #101010;

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    scroll-behavior: smooth;
    box-sizing: border-box;    
    font-family: Montserrat sans-serif;
    font-size: 18px;
    font-weight: 400;
}

img{
    width: 100%;
}

.content{
    max-width: 1170px;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
}

.intro{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 53px;
    margin-bottom: 150px;

    &__info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 109px;

        h1{
            margin-bottom: 20px;
            color: #232323;
            font-size: 72px;
            font-weight: 700;
            letter-spacing: 7.2px;
        }

        p{
            margin-bottom: 60px;
            color: #101010;
            font-size: 22px;
            font-weight: 600;
            line-height: 140%;
            letter-spacing: 1.1px;
        }

        a{
            border: 1px solid $red;
            padding: 10px 15px;
            color: $red;
            font-family: Montserrat sans-serif;
            font-size: 18px;
            font-weight: 500;
            text-decoration: none;
        }
    }
    
}

#about-us{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 119px;
    margin-bottom: 150px;
    
    h2{
        grid-column: 1 / -1;
        color: #232323;
        font-size: 64px;
        font-weight: 700;
        letter-spacing: 3.2px;
    }

    &__me{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 99px;

        img{
            max-width: 278px;
            margin-bottom: 50px;
        }

        p{
            color: $red;
            font-size: 22px;
            font-weight: 600;
            line-height: 140%;
            letter-spacing: 1.1px;}
    }

    &__info{
        display: flex;
        flex-direction: column;

        h5{
            margin-bottom: 21px;
            color: $red;
            font-size: 22px;
            font-weight: 600;
            line-height: 140%;
            letter-spacing: 1.1px;
        }

        p{
            margin-bottom: 38px;
            color: #232323;
            line-height: 130%;
            letter-spacing: 0.9px;
        }

        img{
            max-width: 642px;
        }
    }
}

#portfolio{
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;

    h2{
        color: #232323;
        font-size: 64px;
        font-weight: 700;
        letter-spacing: 3.2px; 
    }

   ul{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;

        li{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
            img{
                margin-bottom: 20px;
            }

            h5{
                margin-bottom: 10px;
                color:$black;
                font-size: 22px;
                font-weight: 600;
                line-height: 140%; /* 30.8px */
                letter-spacing: 1.1px;
            }

            p{
                margin-bottom: 20px;
                color: $black;
                line-height: 130%;
                letter-spacing: 0.9px;
            }

            button{
                padding: 10px 20px;
                border: 1px solid $red;
                background-color: #fff;
                color: $red;
                font-weight: 500;
            }
        }
    }
}

#price{
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;

    h2{
        margin-bottom: 50px;
        color: #232323;
        font-size: 64px;
        font-weight: 700;
        letter-spacing: 3.2px;
    }

    &__info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 156px;

        img{
            max-width: 290px;
            margin-bottom: 30px;
        }

        h5{
            color: $red;
            font-size: 24px;
            font-weight: 600;
            text-align: center;
        }

        ul{
            margin: 20px 40px ;
            list-style: none;

            li{
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;

                span{
                    color: #232323;
                    font-weight: 600;
                    
                }
            }
        }

        p{
            display: flex;
            justify-content: space-between;
            color: $red;
            font-size: 36px;
            font-weight: 600;

            a{
                border: 1px solid $red;
                padding: 20px 55px;
                color: $red;
                font-family: Montserrat sans-serif;
                font-size: 18px;
                font-weight: 500;
                text-decoration: none;
            }
        }
    }
}

#order{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 150px;
    margin-bottom: 150px;

    h2{
        grid-column: 1/-1;
        margin-bottom: 50px;
        color: #232323;
        font-size: 64px;
        font-weight: 700;
        letter-spacing: 3.2px;
    }

    .img{
        position: relative;
        max-width: 590px;
        width: 100%;

        &__item1{
            max-width: 285px;
            top: 47px;
            position: relative;
        }
        &__item2{
            position: absolute;
            left: 240px;
            max-width: 329px;
        }
    }

    form{
        display: flex;
        flex-direction: column;

        input{
            margin-bottom: 40px;
            border: 1px solid #232323;
            padding: 0 20px;
            height: 60px;
            color: rgba(35, 35, 35, 0.35);
            font-family: Montserrat sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 130%;
            letter-spacing: 0.9px;
        }

        textarea{
            margin-bottom: 40px;
            padding: 18px 20px;
            resize: none;
            color: rgba(35, 35, 35, 0.35);
            font-family: Montserrat sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 130%;
            letter-spacing: 0.9px;
        }

        .submit{
            background-color: #fff;
            color: #A52424;
            font-family: Montserrat sans-serif;
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 1.2px;
        }
    }
}