@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Pacifico&display=swap');
@import url('./main-block/header.css');
@import url('./main-block/footer.css');

$red: #A52424;

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    scroll-behavior: smooth;
    box-sizing: border-box;    
    font-family: Montserrat sans-serif;
    font-size: 18px;
    font-weight: 400;
}

img{
    width: 100%;
}

.content{
    max-width: 1170px;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
}

.intro{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 53px;

    &__info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 109px;

        h1{
            margin-bottom: 20px;
            color: #232323;
            font-size: 72px;
            font-weight: 700;
            letter-spacing: 7.2px;
        }

        p{
            margin-bottom: 60px;
            color: #101010;
            font-size: 22px;
            font-weight: 600;
            line-height: 140%;
            letter-spacing: 1.1px;
        }

        a{
            border: 1px solid $red;
            padding: 10px 15px;
            color: $red;
            font-family: Montserrat sans-serif;
            font-size: 18px;
            font-weight: 500;
            text-decoration: none;
        }
    }
    
}

.about-us{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 119px;
    
    h1{
        grid-column: 1 / -1;
        color: #232323;
        font-size: 64px;
        font-weight: 700;
        letter-spacing: 3.2px;
    }

    &__me{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 99px;

        img{
            max-width: 278px;
            margin-bottom: 50px;
        }

        p{
            color: $red;
            font-size: 22px;
            font-weight: 600;
            line-height: 140%;
            letter-spacing: 1.1px;}
    }

    &__info{
        display: flex;
        flex-direction: column;

        h5{
            margin-bottom: 21px;
            color: $red;
            font-size: 22px;
            font-weight: 600;
            line-height: 140%;
            letter-spacing: 1.1px;
        }

        p{
            margin-bottom: 38px;
            color: #232323;
            line-height: 130%;
            letter-spacing: 0.9px;
        }

        img{
            max-width: 642px;
        }
    }
}